@import "../../core/ui/color";
@import "../../core/ui/button";

.cs-dashboard-page {
  width: 100%;
  height: 100%;

  padding: 20px;

  flex: 1 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .cs-dashboard-title {
    font-family: 'Pacifico', sans-serif;
    font-size: 72px;
    line-height: 96px;
    text-align: center;
    color: $sizzling-sunrise;

    cursor: pointer;
    margin-bottom: 50px;

    transition: all 0.5s;

    &:hover {
      animation: neon 1.5s ease-in-out infinite alternate;
    }
  }

  .cs-dashboard-button-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .cs-dashboard-page-link {
    &:not(:last-of-type) {
      margin-right: 40px;
    }
  }

  .cs-dashboard-page-game-button {
    @include button($sizzling-sunrise);
  }

  .cs-dashboard-page-ranking-button {
    @include button($independent);
  }

  @keyframes neon {
    from {
      text-shadow: 0 0 10px #fff,
      0 0 20px #fff,
      0 0 30px #fff,
      0 0 40px $sizzling-sunrise,
      0 0 70px $sizzling-sunrise,
      0 0 80px $sizzling-sunrise,
      0 0 100px $sizzling-sunrise,
      0 0 150px $sizzling-sunrise;
    }
    to {
      text-shadow: 0 0 5px #fff,
      0 0 10px #fff,
      0 0 15px #fff,
      0 0 20px $sizzling-sunrise,
      0 0 35px $sizzling-sunrise,
      0 0 40px $sizzling-sunrise,
      0 0 50px $sizzling-sunrise,
      0 0 75px $sizzling-sunrise;
    }
  }

}