@import "./color.scss";

@mixin button($color: $sizzling-sunrise) {
  width: 200px;

  height: 60px;

  font-family: 'Pacifico', sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: white;

  border-radius: 4px;

  background: $color;

  transition: all .5s;

  &:hover {
    background-color: darken($color, 5%);
  }

  &:active {
    background-color: $color;
    box-shadow: inset 0 2px 4px 0 rgba(black, 0.3);
  }

  @media (max-width: 719px) {
    width: 140px;
  }
}