/*Thanks to Felix Rilling for dashboard styling: https://codepen.io/FelixRilling/pen/qzfoc*/;

@mixin placeholder-color($color) {

  &::-webkit-input-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
}