.cs-game {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  .cs-scoreboard {
    position: absolute;
    top: 10px;
    left: 10px;
  }
}