.cs-tile {
  flex: 0 0 auto;

  padding: 2px;

  display: flex;
  justify-content: center;
  align-items: center;

  .cs-tile-content {
    width: 100%;
    height: 100%;

    border-radius: 5%;

    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
  }
}