* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

p {
  margin: 0;
}

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button,
input[type="button"],
input[type="submit"] {
  background-color: transparent;
  border: none;
  border-width: 0;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

textarea, input {
  outline: none;
}

input, select, textarea, button {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

body, input, select, textarea, button {
  font-family: proxima-soft, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  margin: 0;
}


html, body, #app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  background: repeating-linear-gradient(45deg, #2B2B2B 0%, #2B2B2B 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
}