@import "../../../core/ui/core";
@import "../../../core/ui/color";
@import "../../../core/ui/button";

.cs-ranking-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: 20px;

  .cs-ranking-form-name-input {
    background: white;
    outline: none;

    border: 1px solid white;
    border-radius: 4px;

    width: 440px;
    height: 50px;

    padding: 10px;

    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 17px;

    margin-bottom: 20px;

    color: $gunmetal;
    @include placeholder-color($independent);

    &.has-error {
      border: 1px solid $carnation;
      @include placeholder-color($carnation);
    }
  }

  .cs-ranking-form-error {
    display: block;

    color: $carnation;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 17px;

    margin-bottom: 20px;
  }

  .cs-ranking-form-dismiss-button {
    @include button($pastel-gray);

    margin-right: 40px;
  }

  .cs-ranking-form-submit-button {
    @include button($sizzling-sunrise);
  }

  @media (max-width: 719px) {
    .cs-ranking-form-name-input {
      width: calc(100% - 20px);
    }
  }
}