@import "../../core/ui/color";

.cs-scoreboard {
  width: 100px;
  height: 100px;

  padding: 15px;

  border-radius: 4px;

  background: rgba($independent, .5);
  box-shadow: 0 2px 2px 0 rgba($gunmetal, 0.3);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .cs-scoreboard-title {
    font-family: 'Pacifico', sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: $sizzling-sunrise;

    margin-bottom: 5px;
  }

  .cs-scoreboard-score {
    font-family: 'Lato', sans-serif;
    font-size: 36px;
    line-height: 45px;
    color: white;
  }
}