@import "../../core/ui/color";
@import "../../core/ui/button";

.cs-ranking-page {
  width: 100%;
  height: 100%;

  padding: 20px;

  flex: 1 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .cs-ranking-page-score-text {
    width: 100%;
    max-width: 440px;

    margin-bottom: 20px;

    display: block;

    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: $pastel-gray;
  }

  .cs-ranking-button-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .cs-ranking-page-link {
    &:not(:last-of-type) {
      margin-right: 40px;
    }
  }

  .cs-ranking-page-new-game-button {
    @include button($independent);
  }
}