@import "../../../core/ui/color.scss";

.cs-ranking-list {
  margin-bottom: 20px;

  .cs-ranking-table-title {
    font-family: 'Pacifico', sans-serif;
    font-size: 24px;
    line-height: 30px;
    text-align: center;

    color: $sizzling-sunrise;
  }

  .cs-ranking-list-header-cell {
    font-family: 'Pacifico', sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: $sizzling-sunrise;

    width: 150px;
  }

  .cs-ranking-list-body-cell {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: $pastel-gray;

    width: 150px;
  }

}