#cs-solve-button {
  position: absolute;
  bottom: 10px;
  right: 10px;

  width: 100px;
  height: 50px;

  background: white;
}

#cs-show-hint-button {
  position: absolute;
  bottom: 10px;
  right: 120px;

  width: 100px;
  height: 50px;

  background: white;
}